<appSettings>
  <add key="RoleLevel1" value="Administrators" />
  <add key="RoleLevel2" value="PowerUsers" />
  <add key="RoleLevel3" value="ReportUsers" />
  <add key="RoleLevel4" value="NewReportUsers" />
  <add key="OutputDirectory" value="c:\Data\Download\\"/>
  <!-- ActiveReports Licence -->
  <add key="DataDynamicsARLic" value="gnt,gnt,abc,SO8F--VO8FU--S8M9F--" />
  <add key="SynchornizeFile" value="D:\SynchornizeFile\"></add>
  <add key="BaseDrive" value="G:\\"></add>
</appSettings>
