<connectionStrings>
  <remove name="Main"/>
  <!--
    <add name="Main" connectionString="Server=192.168.30.108;UID=sa; PWD=sa123sa; Database=MOneDB_Test"/>
  <add name="ConnectionString1" connectionString="Server=192.168.30.108;UID=sa; PWD=sa123sa; Database=MOneDB_Test"/>
  <add name="ConnectionString2" connectionString="Server=192.168.30.108;UID=sa; PWD=sa123sa; Database=MOneDB_Test"/>


  
<add name="Main" connectionString="Server=localhost;UID=sa; PWD=tuan2808; Database=QLTN_DB"/>
  <add name="ConnectionString1" connectionString="Server=localhost;UID=sa; PWD=tuan2808; Database=QLTN_DB"/>
  <add name="ConnectionString2" connectionString="Server=localhost;UID=sa; PWD=tuan2808; Database=QLTN_DB"/>
  -->

  <add name="Main" connectionString="Server=112.213.94.216;UID=qltn; PWD=tuan2808; Database=QLTN_DB"/>
  <add name="ConnectionString1" connectionString="Server=112.213.94.216;UID=qltn; PWD=tuan2808; Database=QLTN_DB"/>
  <add name="ConnectionString2" connectionString="Server=112.213.94.216;UID=qltn; PWD=tuan2808; Database=QLTN_DB"/>
  <!--  
  <add name="Main" connectionString="Server=localhost;UID=qlcc; PWD=thanhminh07; Database=QLCC_DB"/>
  <add name="ConnectionString1" connectionString="Server=localhost;UID=thanhminh07; PWD=qlcc; Database=QLCC_DB"/>
  <add name="ConnectionString2" connectionString="Server=localhost;UID=thanhminh07; PWD=qlcc; Database=QLCC_DB"/>

  
  <add name="Main" connectionString="Server=192.168.200.220;UID=sa; PWD=abc123abc!; Database=abc"/>
  <add name="ConnectionString1" connectionString="Server=192.168.200.220;UID=sa; PWD=abc123abc!; Database=abc"/>
  <add name="ConnectionString2" connectionString="Server=192.168.200.220;UID=sa; PWD=abc123abc!; Database=abc"/>
  
  
  <add name="Main" connectionString="Server=192.168.200.220;UID=sa; PWD=sa123sa!; Database=Test"/>
  <add name="ConnectionString1" connectionString="Server=192.168.200.220;UID=sa; PWD=sa123sa!; Database=Test"/>
  <add name="ConnectionString2" connectionString="Server=192.168.200.220;UID=sa; PWD=sa123sa!; Database=Test"/>
  -->
</connectionStrings>
