/* CSS Document  */
*
{
	margin: 0;
	padding: 0;
}
body
{
	margin: 0px auto;
	background: url(../images/pagelogin.jpg) #5ec5fd center top no-repeat;
}
.clear_both
{
	clear: both;
}
.container_login
{
	width: 420px;
	margin: 0 auto;
	align: center;
}
.panel_login
{
	width: 420px;
	align: center;
}
.row_top_login
{
	width: 420px;
	height: 186px;
	float: left;
}
.row_top_logo
{
	background: url(../images/logo_login.png) top left no-repeat;
	height: 186px;
	background-position:left;
}
.row_top_title
{
	background: url(../images/PMQLTT_01.png) top center no-repeat;
	height: 186px;
	background-position:center;
}
.row_bottom_title
{
	background: url(../images/BanQuyen.png) bottom center no-repeat;
	margin: 210px 10px 0px 5px;
	height: 186px;
	background-position:center;
}
.row_bottom_login
{
	background: url(../images/box_login.png) top center no-repeat;
	width: 420px;
	min-height: 430px;
	float: left;
	margin: 0px 0px 0px 0px;
}
table.form_login
{
	margin: 10px 10px 0px 5px;
	width: 420px;
}
table.form_login tr td
{
	padding: 5px;
}

.title_login
{
	color: #ffffff;
	font: bold 25px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	padding: 18px 5px 6px 20px;
}
.text_form_login
{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #ffffff;
	padding: 0px 5px 0px 5px;
	text-align: left;
}
.text_form_login_2
{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
	padding: 3px 5px 10px 5px;
	text-align: left;
}
.input_login
{
	background: url(../images/bg_input.gif) #ffffff top left repeat-x !important;
	font: normal 11px Arial,Tahoma, Verdana, Helvetica, sans-serif;
	height: 19px !important;
	border-right: #2690dc 1px solid !important;
	border-top: #2690dc 1px solid !important;
	border-left: #2690dc 1px solid !important;
	border-bottom: #2690dc 1px solid !important;
	border-collapse: collapse border=1;
}
.btn_login
{
	font: bold 12px Arial,Tahoma, Verdana, Helvetica, sans-serif;
	color: #003366;
	cursor: pointer;
	background: url(../images/btn_login.png);
	padding: 0px 8px 3px 0px;
	text-align: center;
	cursor: hand;
	width: 140px;
	height: 40px;
	border: 0;
	font-family: Tahoma, Verdana, Arial;
}
.text_note_login
{
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
	padding: 6px 5px 6px 5px;
	text-align: right;
}
.style1
{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #ffffff;
	padding: 0px 5px 0px 5px;
	text-align: left;
	height: 14px;
}

