.mnu
{
	/*background: transparent url(./images/mnu/item-menu-tpace.gif) left repeat-x;*/ /*height: 28px;*/
	height: 34px; /*width: 944px;*/
	margin: 0px 0px 0px 20px;
}
.item1_normal
{
	cursor: hand;
	color: #FFFFFF; /*background: transparent url(./images/mnu/item-menu-tpace.gif) left repeat-x;*/ /*height: 28px;*/
	height: 34px; /* width: 192px;*/ /*vertical-align: middle;*/
	text-transform: uppercase;
	font: bold 12px Arial,Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background: url(./images/mnu/bgd_lineNav.png) no-repeat 100% 0px;
	position: relative;
	padding: 0px 20px 0px 20px;
}

.item2_normal
{
	cursor: hand;
	color: #FFFFFF; /*background: transparent url(./images/mnu/item-menu-tpace.gif) left repeat-x;*/
	height: 34px; /* width: 192px;*/
	text-transform: uppercase;
	font: bold 12px Arial,Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background: url(./images/mnu/bgd_lineNav.png) no-repeat 100% 0px;
	position: relative;
	padding: 0px 20px 0px 20px;
}
.item3_normal
{
	cursor: hand;
	color: #FFFFFF; /* background: transparent url(./images/mnu/item-menu-tpace.gif) left repeat-x;*/ /*height: 28px;*/
	height: 34px; /* width: 192px;*/
	text-transform: uppercase;
	font: bold 12px Arial,Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background: url(./images/mnu/bgd_lineNav.png) no-repeat 100% 0px;
	position: relative;
	padding: 0px 20px 0px 20px;
}
.item4_normal
{
	color: #FFFFFF; /*background: transparent url(./images/mnu/item-menu-tpace.gif) left repeat-x;*/ /*height: 28px;*/
	height: 34px;
	width: 16px;
	text-transform: uppercase;
	font: bold 12px Arial,Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background: url(./images/mnu/bgd_lineNav.png) no-repeat 100% 0px;
	position: relative;
	padding: 0px 20px 0px 20px;
}
.item5_normal
{
	cursor: hand;
	color: #FFFFFF; /* background: transparent url(./images/mnu/item-menu-tpace.gif) left repeat-x;*/ /*height: 28px;*/
	height: 34px; /* width: 192px;*/
	text-transform: uppercase;
	font: bold 12px Arial,Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background: url(./images/mnu/bgd_lineNav.png) no-repeat 100% 0px;
	position: relative;
	padding: 0px 20px 0px 20px;
}

.mouseover1
{
	cursor: pointer;
	color: #ffffff;
	background: transparent url(./images/mnu/bg_over.png) left repeat-x; /*height: 28px;*/
	height: 34px; /* width: 192px;*/
	text-transform: uppercase;
	font: bold 12px Arial,Tahoma, Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 20px 0px 20px;
}
.mouseover2
{
	cursor: hand;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent url(./images/mnu/bg_over.png) left repeat-x; /* background: transparent url(./images/mnu/bgmenu.jpg) left repeat-x;    */ /*height: 28px;*/
	height: 34px; /* width: 192px;*/
	text-transform: uppercase;
	font: bold 12px Arial,Tahoma, Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 20px 0px 20px;
}
.mouseover3
{
	cursor: hand;
	color: #ffffff;
	background: transparent url(./images/mnu/bg_over.png) left repeat-x; /*background: transparent url(./images/mnu/bgmenu.jpg) left repeat-x;      */ /*height: 28px;*/
	height: 34px; /* width: 192px;*/
	text-transform: uppercase;
	font: bold 12px Arial,Tahoma, Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 20px 0px 20px;
}
.mouseover4
{
	cursor: hand;
	color: #ffffff;
	background: transparent url(./images/mnu/bg_over.png) left repeat-x; /*height: 28px;*/
	height: 34px; /* width: 192px;*/
	text-transform: uppercase;
	font: bold 12px Arial,Tahoma, Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 20px 0px 20px;
}
.mouseover5
{
	cursor: hand;
	color: #ffffff;
	background: transparent url(./images/mnu/bg_over.png) left repeat-x; /*height: 28px;*/
	height: 34px; /* width: 192px;*/
	text-transform: uppercase;
	font: bold 12px Arial,Tahoma, Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 20px 0px 20px;
}
.subMenu
{
	background: #0271C0;
	line-height: 18px;
	font: bold 11px Arial,Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff; /* border: 1px solid #4CA3F1;*/
	padding: 0px 0px 0px 0px;
	width: auto !important;
}
.item_subMenu_normal
{
	/*padding: 0px 2px 0px 0px;*/
	cursor: hand;
	width: 100% !important;
	padding: 6px 5px 6px 5px;
	border-bottom: 1px solid #4CA3F1;
}
.item_subMenu_normal01
{
	/*padding: 0px 2px 0px 0px;*/
	width: 100% !important;
	padding: 6px 5px 6px 5px;
	border-bottom: 1px solid #FFFFFF;
	background-color: #2dd4ee;
}
.item_subMenu_mouseover
{
	/*padding: 0px 2px 0px 0px;*/ /*width:185px;*/
	width: auto !important;
	padding: 6px 5px 6px 5px; /*background: #f5d102;   */
	background: #56B1E7;
	border-bottom: 1px solid #4CA3F1;
	cursor: pointer;

}

iframe.skm
{
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.item_subMenu_Wide
{
	padding: 6px 5px 6px 5px; /* width:250px;*/
	border-bottom: 1px solid #4CA3F1;
}

.item_subMenu_Wide_mouseover
{
	/* width:250px;*/
	padding: 6px 5px 6px 5px; /*background: #f5d102;   */
	background: #56B1E7;
	border-bottom: 1px solid #4CA3F1;
	cursor: hand;
}

