div.boxwrap
{
    margin: 50px auto 0;
    padding: 0;
    background: url(images/box-br.jpg) no-repeat right bottom;
    color: #000;
    width: 10%;
}
/*
div.boxwrap div {
  background: url(images/box-bl.jpg) no-repeat left bottom;
}

div.boxwrap div div {
  background: url(images/box-tr.jpg) no-repeat right top;
 
}
div.boxwrap div div div {
  background: #f1f1f3 url(images/box-tl.jpg) no-repeat left top;
  padding: 20px; 
   border: 1px solid #BBBBBD;
}
*/

*.bg
{
    background: url("images/bgbox.gif") 0 0 repeat;
    margin-top: 20px;
    width: 200px;
}
*.tl
{
    background: url("images/rc.gif") top left no-repeat;
}
*.br
{
    background: url("images/rc.gif") bottom right no-repeat;
}
*.tr
{
    background: url("images/rc.gif") top right no-repeat;
}
*.bl
{
    background: url("images/rc.gif") bottom left no-repeat;
}
*.tlc
{
    background: url("images/box-tl.jpg") top left no-repeat;
}
*.brc
{
    background: url("images/box-br.jpg") bottom right no-repeat;
}

*.trc
{
    background: url("images/box-tr.jpg") top right no-repeat;
}
*.blc
{
    background: url("images/box-bl.jpg") bottom left no-repeat;
}
*.pad
{
    padding: 10px;
}


.MapPathDiv
{
    color: #004070;
    text-transform: none;
    vertical-align: bottom;
    padding-left: 0px;
    padding-top:5px;
}
.lableTitle
{
    color: #4F565E;
    font-weight: bold;
    font-family: 'trebuchet MS';
    font-size: 13px;
}
.lableCaption
{
    color: White;
    padding-left: 2px;
    font-family: 'trebuchet MS';
    font-size: 13px;
    font-weight: bold;
}
.bgFillerHeard
{
    padding: 3px 5px 3px 5px;
    border-bottom: none;
    background-color: #f4f0d1;
    height: 17px;
}
.textboxNoBorder
{
    background-color: Transparent;
    border: 0px solid #ffffff !important; /*color: #525252;*/
    padding-left: 2px;
    font-size: 11px;
    /*height: 18px;*/
    color: #4F565C;
}
.textboxReadOnly
{
    clear: both;
    cursor: default;
    vertical-align: bottom;
    background-color: #F0F1F0;
}

.labelNormal
{
    background-color: Transparent;
    padding-left: 2px;
    font-size: 11px;
    height: 18px;
    color: #4F565C;
}

/*Modal Popup*/
.modalBackground
{
    background-color: #B5B9BC;
    filter: alpha(opacity=70);
    opacity: 0.7;
}


.modalPopup
{
    background-color: #E2EDF5;
    border-width: 1px;
    border-style: solid;
    border-color: #0060AD;
}

.MypopupMask
{
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 1260px;
    height: auto;
    min-height: 100%;
    background-color: #B5B9BC;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
* html .MypopupMask
{
    height: 100%;
}
.Invisible
{
    visibility: hidden;
}
